.App {
  text-align: center;
}

@keyframes btn-one {
  from {
    background-color: white;
  }

  to {
    background-color: rgb(0, 174, 255);
  }
}

@keyframes btn-two {
  from {
    background-color: rgb(0, 174, 255);
  }

  to {
    background-color: white;
  }
}


/* //////////Project - page ///////// */

.projects__container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.projects__container--box1 {
  height: 200px;
  width: 300px;
  display: flex;
  /* border: 2px solid black; */
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 10px;
  -webkit-box-shadow: -1px 1px 13px 3px rgba(0, 0, 0, 0.66);
  box-shadow: -1px 1px 13px 3px rgba(0, 0, 0, 0.66);
}

.projects__container--box2 {
  height: 200px;
  width: 300px;
  display: flex;
  background-image: url(/src/Images/electric.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 10px;
  -webkit-box-shadow: -1px 1px 13px 3px rgba(0, 0, 0, 0.66);
  box-shadow: -1px 1px 13px 3px rgba(0, 0, 0, 0.66);
}

.projects__container--box3 {
  height: 200px;
  width: 300px;
  display: flex;
  background-image: url(/src/Images/todo.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 10px;
  -webkit-box-shadow: -1px 1px 13px 3px rgba(0, 0, 0, 0.66);
  box-shadow: -1px 1px 13px 3px rgba(0, 0, 0, 0.66);
}

.projects__container--box4 {
  height: 200px;
  width: 300px;
  display: flex;
  background-image: url(/src/Images/nasa.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 10px;
  -webkit-box-shadow: -1px 1px 13px 3px rgba(0, 0, 0, 0.66);
  box-shadow: -1px 1px 13px 3px rgba(0, 0, 0, 0.66);
}

.box {
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  /* justify-content: center; */
  align-items: center;
}

.box i {
  font-size: 1.5em;
  color: black;
}

/* ////////zoom////// */

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.1);
}

.zoom-icon {
  transition: transform .2s;
}

.zoom-icon:hover {
  transform: scale(1.5);
}